.menu-container {
    display: flex;
    margin-left: 215px;
    margin-right: 215px;
    padding-bottom: 0px;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 33%;
    border-bottom: solid 1px getColor(border-menu);
    align-items: center;
    margin-bottom: 0px;
    @media (max-width: 1200px) {
        & {
            margin-left: 15px;
            margin-right: 15px;
        }
    @media (max-width: 767px) {
        display: block;
        width: 100vw;
        max-width: 450px;
        margin: auto;
        
    }
    }
}
    .menu-container--div {
        width: 100vw;
        max-width: 450px;
    @media (max-width: 767px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        justify-content: space-between;
        
        }
    }
.menu-container__logo--div {
    display: block;
    margin: 0;
}
.menu-container__nav {
    display: flex;
    flex-direction: row;
    align-self: baseline;
    @media (max-width: 767px) {
            display: none;
        }
}

.menu-container__ul {
    display: inline-flex;
    font-weight: 500;
    line-height: 1.14;
    padding-left: 0px;
    list-style: none;
    @media (max-width: 767px) {
            visibility: hidden;
        }
}

.menu-container__ul--style {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
    justify-items: center;
    margin-top: 32px;
}

.menu-container__ul--style2 {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
    justify-items: center;
    margin-top: 0px;
}
.menu-container__contact {
    display: flex;
    flex-direction: row;
    @media (max-width: 1200px) {
            display: flex;
            flex-direction: column;
            margin-left: 50px;
        }
}
.menu-container__link {
    color: #212121;
    padding: 0;
    transition-property: cursor,
        fill,
        color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover {
    cursor: pointer;
    color: getColor(blue-brand);
    fill: getColor(blue-brand);
}

&:link {
    text-decoration: getColor(blue-brand);
}

&:active {
    color: getColor(blue-brand);
}
}
.menu-container__span {
    padding: 0;
    margin: 0;

&::after {
    display: flex;
    content: " ";
    border-bottom: 4px solid getColor(blue-brand);
    padding-top: 28px;
    width: 53px;
    justify-content: space-around;
    margin: 0;
    @media (max-width: 767px) {
        visibility: hidden;
    }
}
}
.menu-container__tel {
    color: getColor(phone-color);
    fill: getColor(phone-color);
    padding-left: 5px;
    @media (max-width: 1200px) {
        & {
            padding-left: 0;
        }
    }
}

.header-footer__logo {
    align-self: center;
    font-family: "Releway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    @media (max-width: 1200px) {
        font-size: 24px;
        margin-left: 15px;
        margin-right: 40px;
    }
    @media (max-width: 767px) {
        font-size: 24px;
        width: 100vw;
        max-width: 450px;
    }
}

.header-footer__blue {
    color: getColor(blue-brand);
}
.mobile-menu {
    border: transparent;
    background-color: getColor(white-);
    @media (min-width: 767px) {
        visibility: hidden;
        display: none;
    }
    @media (max-width: 767px) {
        display: flex;
    }
    &:hover {
        cursor: pointer;
        fill: getColor(blue-brand);
    }
}